name: quiz
description: "Quizzy - викторина с питомцами"
publish_to: 'none'

version: 2.0.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^8.0.1
  google_nav_bar: ^5.0.7
  my_progress_bar: ^2.1.0
  firebase_core: ^4.4.0
  firebase_auth: ^6.1.4
  google_sign_in: ^7.2.0
  google_sign_in_ios: ^6.3.0
  shared_preferences: ^2.2.2
  provider: ^6.1.1
  audioplayers: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/